/*BANNER-INERIOR*/

.bannerInterior figure{
    position: relative;
    height: 300px;
    overflow: hidden;
}

/*INFO-HABITACION*/

.infoHabitacion{
	position: relative;
	margin-top:-20px;
}

.infoHabitacion .colIzqHabitaciones{
	position:relative;
	margin-top:-170px;
}

.infoHabitacion .colIzqHabitaciones ul li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size:18px;
}

.infoHabitacion .colIzqHabitaciones ul li a.active{
	color:#FFE060 !important;
}

.infoHabitacion .colIzqHabitaciones .nav-link{
	border-right:1px solid white;
}


.infoHabitacion .colIzqHabitaciones .fa-angle-right:before{
    content: "\f105";
    background: rgba(255,255,255,.8);
    padding: 20px 10px;
 }

.infoHabitacion .colIzqHabitaciones .fa-angle-left:before {
    content: "\f104";
    background: rgba(255,255,255,.8);
    padding: 20px 10px;
}

.colIzqHabitaciones button{
	border-radius:0;
	background:black;
	color:white;
}

.colIzqHabitaciones p{
	line-height:30px;
	color:#666;
}

.colorTitulos{
	color:#847059;
}

.colDerHabitaciones{
	transition:0.3s all;
}
.colIzqHabitaciones p{
    line-height: 30px;
    color: #666666;
}
.colorTitulos{
    color: crimson;
    text-align: center;
}

.colDerHabitaciones{
    transition: 0.3s all;
}

/*TESTIMONIOS*/

.testimonios{
    position: relative;
    background: url(../img/fondoComentarios.png);
    background-position: center top;
    background-repeat: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonios::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(193, 124, 110, .9);
}
.testimonios h1{
    position: relative;
}
.testimonios button{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
}
.colorTitulo {
    color: black;
}

/*TESTIMONIOS*/

@media (max-width:768px){
    
    .infoHabitacion .nav-link{
        border-right: 0;
        border: 1px solid #999;
    }
    .infoHabitacion .colIzqHabitaciones .cabeceraHabitacion{
        background: black;
    }
    .infoHabitacion .colIzqHabitaciones ul li{
        background: #333;
    }
    .infoHabitacion .colIzqHabitaciones ul li .active{
        background-color: black !important;
    }
    .infoHabitacion .colIzqHabitaciones ul li a.active i{
        display: none;
    }
    .infoHabitacion .categoria{
        color: #af9475 !important;
    }
    .descripcionHabitacion h1{
        font-size: 30px;
    }
}