/*INFO-RESERVAS*/

.infoReservas {
    position: relative;
    margin-top: -20px;
}

.infoReservas .colIzqReservas {
    position: relative;
    margin-top: -170px;
}

.colIzqReservas button {
    border-radius: 0;
    background: black;
    color: white;
}
 
.colDerHabitaciones {
    transition: 0.3s all;
}

/*TESTIMONIOS MEDIA QUERY*/

@media (max-width:768px) {

    .infoReservas .nav-link {
        border-right: 0;
        border: 1px solid #999;
    }

    .infoReservas .colIzqReservas .cabeceraReservas {
        background: black;
    }

    .infoReservas .colIzqReservas ul li {
        background: #333;
    }

    .infoReservas .colIzqReservas ul li .active {
        background-color: black !important;
    }

    .infoReservas .colIzqReservas ul li a.active i {
        display: none;
    }

    .infoReservas .categoria {
        color: #af9475 !important;
    }

    .descripcionReservas h1 {
        font-size: 30px;
    }

    .colDerHabitaciones {
        margin-top: 0px;
    }
}